.side {
  background-color: #eaeaeb !important;
  left: 0;
  height: calc(100vh - 64px);
  /* overflow: outo; */
  /* border-right: 1px solid black; */
}


.main-content {
  background-color: white;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.fileContainer {
  width: 100%;
  height: calc(100% - 64px);
  /* background-color: blue; */
  margin-top: 16px;
  /* background-color: #2D2D2D; */
}

.ant-card-bordered {
  border: none !important;
}

.site-tree-search-value {
  color: #f50;
}

.logo {
  float: left;
  width: 160px;
  margin-right: 8px;
  color: #08979c;
}
.leftMenu{
  float: left;
  width: 80%;
  line-height: inherit;
  margin: 0;
}

.info {
  float: right;
  width: 160px;
  height: 31px;
  margin: 16px 8px 16px 0px;
  background: #f0f0f0;
  line-height: 31px;
  text-align: center;
  color: #f56a00;
}

.ant-card-bordered {
  border: 3px solid #303030;
}

/* 滚动条区域的宽度 */
::-webkit-scrollbar {
  width: 4px;
}
/* 滚动槽的样式设置 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}
/* 滚动条滑块的样式设置 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px #08979c;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #0000;
}
